.navbar {
  background-color: black;
}
section {
  padding: 60px 0;
  overflow: hidden;
  background-color: white;
  font-size: x-large;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #741c19;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #741c19;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/* ...........nav...........  */
.navbar-title {
  font-size: xx-large;
}
#navmenu ul li a {
  transition: 0.3;
}
#navmenu ul li a:hover {
  font-size: 17px;
}
.CONTACT-ME a:hover {
  font-size: 17px;
}
/* ................Home...............   */

#Home {
  width: 100%;
  height: 100vh;
  background: url(../image/20210621_173931.jpg) top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#Home:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#Home .Home-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  padding-left: 40px;
}

#Home h1,
h2 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#Home p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
.home-img {
  transition: all 0.3s ease-in-out;
}
.home-img:hover {
  transform: rotate(30deg);
}

@media (min-width: 470px) {
  #Home {
    background-attachment: fixed;
  }
}
/* ...............Home.................   */

/* .............about...................   */
#about {
  background-color: white;
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #741c19;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}
.just {
  color: #831d19;
}

/* ..........about.............  */
/* ..........facts.............  */
.facts {
  padding-bottom: 30px;
  background-color: white;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box img {
  /* display: flex; */
  font-size: 44px;
  float: left;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

/* ...................................    */

/* ...................skills.............  */
.skills {
  background-color: #f0f5fc;
}
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}
.fa-html5 {
  font-size: 12px;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
}

.skills .progress-bar {
  height: 10px;
  transition: width 0.6s linear;
  background-color: #741c19;
}
.OTHER-SKILLS h2 {
  color: #050d18;
  font-weight: bold;
  padding-top: 20px;
}
.OTHER-SKILLS ol {
  font-weight: bold;
}

/* .......................................... */
/* ...................skills.............  */
/* ........................
 port 
 .......................... */
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -60px;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}
/* ........................
 port 

/* --------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #741c19;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #741c19;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/* Testimonials */

.testimonials {
  background-color: #f0f5fc;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  padding-top: 70px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info img {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 32px;
  height: 32px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .email:hover img,
.contact .info .address:hover img,
.contact .info .phone:hover img,
.Social-Profiles:hover {
  background: #000000;
  color: #fff;
  transform: rotate(360deg);
}

.contact .email-form {
  width: 100%;
  padding: 30px;
  background: white;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .email-form input {
  height: 44px;
  border-bottom: 1px solid black;
  border-top: transparent;
  border-right: transparent;
}

.contact .email-form textarea {
  padding: 10px 12px;
  border-top: transparent;
  border-right: transparent;
  border-bottom: 1px solid black;
}

.contact .email-form button[type="submit"] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type="submit"]:hover {
  background: #37b3ed;
}
.Social-Profiles {
  margin: 10px;
}
/*=======================
  Footer CSS
=========================*/
#footer {
  background: #333;
  padding: 15px 0 10px;
  text-align: center;
  position: relative;
}
#footer .arrow a {
  font-size: 30px;
  position: absolute;
  top: -15px;
  left: 50%;
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 100%;
  margin-left: -22px;
  display: block;
  padding: 0;
  z-index: 99;
}
#footer .arrow a:hover {
  background: #333;
}
#footer .copyright {
  padding: 5px 0;
  text-align: left;
}
#footer .copyright p {
  color: #fff;
  margin: 0;
}
